.container {
    font-family: 'Adobe Garamond Pro', serif;
    color: #333;
  }
  
  .header {
    margin-bottom: 30px;
  }
  
  .title {
    font-size: 2.5rem;
    color: #004d00; /* Dark Green Accent 3, 50% Darker */
  }
  
  .unit-row {
    display: flex;
    align-items: center;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f8f9fa; /* Light grey background */
  }
  
  .company-logo {
    max-width: 100%;
    max-height: 100px;
    display: block;
    margin: auto;
    filter: drop-shadow(8px 8px 8px rgba(0, 0, 0, 0.2));
  }
  .unit-info{
    display: flex;
    flex-direction: row;
  }
  .unit-info p {
    margin: 0px;
    padding: 2px;
  }
  
  .owner-info {
    /* margin-top: 10px; */
    font-weight: bold;
    color: #004d00; /* Dark Green */
  }
  
  .btn-view {
    background-color: #004d00;
    color: white;
    /* padding: 10px 20px; */
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  
  .btn-view:hover {
    background-color: #003300; /* Slightly darker green on hover */
  }
  
  /* Responsive Design */
  @media (max-width: 676px) {
    .unit-row {
      flex-direction: column;
      text-align: center;
    }
    .unit-info{
        flex-direction: column;
    }
  }

  
  @media (max-width: 768px) {
    .btn-view{
        width: 100%;
    }
  }



  
  