<body>
    <div class="faq-container">

        <div data-schema-only="false" class="set">
            <h3>1. What are the tax charges for TDS on Purchase of Property levied by the government ?</h3>
            <div class="aioseo-faq-block-answer">
                <p><strong>TDS 1% on property</strong></p>



                <p>Ans: TDS compliance under section 194IA must be duly complied by all the property buyers with value
                    more than Rs. 50 Lakhs. &nbsp;TDS value of 1% must be deducted before making any payment to the
                    builder and the said amount as deducted should be remitted within the stipulated timelines to Income
                    tax department. This applies to TDS on property purchase above 50 lakhs section only.</p>
            </div>
        </div>

        <div data-schema-only="false" class="set">
            <h3><strong>2. Can you give an example for TDS on property compliance for better understanding?</strong>
            </h3>
            <div class="aioseo-faq-block-answer">
                <p>Ans: You can refer the below details on section 194IA.</p>



                <p><strong>Scope of&nbsp;section 194IA:</strong></p>



                <p>Section 194IA, provides that any person, being a transferee, responsible for paying to a resident
                    transferor any sum by way of consideration for transfer of any immovable property (other than
                    agricultural land) shall deduct an amount equal to one per cent of such sum as Income-tax at the
                    time of credit of such sum to the account of the transferor or at the time of payment of such sum in
                    cash or by issue of cheque or draft or by any other mode, whichever is earlier towards TDS on
                    purchase of property.</p>



                <p><strong>Who is the payer?</strong></p>



                <p>Ans: The payer is any person, being a transferee, responsible for paying to a resident transferor any
                    sum by way of consideration for transfer of any immovable property.</p>



                <p><strong>Who is the payee?</strong></p>



                <p>Ans: The payee is resident transferor of any immovable property.</p>
            </div>
        </div>



        <div data-schema-only="false" class="set">
            <h3>3. <strong>Can I manage TDS on purchase of property compliance on my own</strong> ?</h3>
            <div class="aioseo-faq-block-answer">
                <p>Ans: You can manage TDS on purchase of property, but it often results in tedious and complex web of
                    operation, just leave it to us and relax. Let BIZSERVICES manage this &nbsp;for you. Section 194-IA
                    of income tax act imposes a penalty for any late payment.</p>
            </div>
        </div>



        <div data-schema-only="false" class="set">
            <h3 class="aioseo-faq-block-question"><strong>4.&nbsp;</strong>Do we need&nbsp;<strong>TAN
                    number&nbsp;</strong>to pay<strong>&nbsp;TDS on sale of property?</strong></h3>
            <div class="aioseo-faq-block-answer">
                <p>Ans: Not required</p>
            </div>
        </div>



        <div data-schema-only="false" class="set">
            <h3 class="aioseo-faq-block-question"><strong>5.&nbsp;Is TDS 1% additional cost on the property?</strong>
            </h3>
            <div class="aioseo-faq-block-answer">
                <p>Ans: No, TDS on property is included in the cost of the property, in every instalment you will have
                    to deduct 1% (excluding GST amount) and pay the balance to seller. Seller will claim this 1% credit
                    when you submit the Form 16B certificate that is generated by us for you and submitted to the
                    seller.</p>
            </div>
        </div>



        <div data-schema-only="false" class="set">
            <h3 class="aioseo-faq-block-question"><strong>6.&nbsp;How to avail Biz Services for TDS on purchase of
                    property compliance?</strong></h3>
            <div class="aioseo-faq-block-answer">
                <p>Ans: Please share your contact details in the enquiry form we will write to you on next steps.</p>



                <p>BIZ Services provides the FORM 16B by processing your TDS with its integrated automated process.</p>
            </div>
        </div>



        <div data-schema-only="false" class="set">
            <h3 class="aioseo-faq-block-question"><strong>7.&nbsp;How to make service fee payment to Biz
                    Services?</strong></h3>
            <div class="aioseo-faq-block-answer">
                <p>Ans: You need to make the service fee payment to the bank account details provided in the e-Mail
                    through bank transfer. You can also scan the QR code and pay through Google Pay or Phone Pe.</p>
            </div>
        </div>



        <div data-schema-only="false" class="set">
            <h3 class="aioseo-faq-block-question">8. <strong>How do I calculate TDS amount?</strong></h3>
            <div class="aioseo-faq-block-answer">
                <p>Ans: TDS is 1% on the demand note value excluding GST amount. Further, TDS is not applicable on
                    certain billing items which are other taxes and deposits.</p>
            </div>
        </div>



        <div data-schema-only="false" class="set">
            <h3 class="aioseo-faq-block-question"><strong>9.&nbsp;What are the implications if you do not pay TDS on
                    time?</strong></h3>
            <div class="aioseo-faq-block-answer">
                <p>Ans: 1% of the TDS payment on property value is payable as interest per month and part thereof and
                    Rs.200/day for every day of delay in TDS payment (up to TDS amount) as late fee. Further
                    registration of property mandates the requirement of Form 16B.</p>
            </div>
        </div>



        <div data-schema-only="false" class="set">
            <h3 class="aioseo-faq-block-question"><strong>10.&nbsp;What is the process once we engage Biz Services for
                    TDS compliance?</strong></h3>
            <div class="aioseo-faq-block-answer">
                <p>Ans: Once you avail the service you need to intimate us before making any payment to the builder, BIZ
                    services will let you know the amount payable to seller and amount payable as TDS.</p>
            </div>
        </div>



        <div data-schema-only="false" class="set">
            <h3 class="aioseo-faq-block-question"><strong>11.&nbsp;What is the last date for TDS payment?</strong></h3>
            <div class="aioseo-faq-block-answer">
                <p>Ans: For payments made to builder in this month (on any date from 1st to 30th/31st), TDS payment on
                    property to government should be made on or before 30th of next month.</p>
            </div>
        </div>



        <div data-schema-only="false" class="set">
            <h3 class="aioseo-faq-block-question"><strong>12.&nbsp;How does Biz Services manage my TDS
                    compliance?</strong></h3>
            <div class="aioseo-faq-block-answer">
                <p>Ans: For all your payments made to seller till the day you avail our service, we will compute the
                    liability and intimate you on next steps. TDS Payment on property, Form 16B certificate will be
                    shared by e-mail within 7 working days which has to be shared with seller for due credit and
                    registration of property.</p>
            </div>
        </div>



        <div data-schema-only="false" class="set">
            <h3 class="aioseo-faq-block-question"><strong>13. What if Biz Services do not pay TDS on time? Who is
                    responsible for penalty/late fee?</strong></h3>
            <div class="aioseo-faq-block-answer">
                <p>Ans: Once you have opted for Biz Services, it is our responsibility to ensure timely compliance, you
                    will not have to pay any late fee once you avail our services.</p>
            </div>
        </div>



        <div data-schema-only="false" class="set">
            <h3 class="aioseo-faq-block-question"><strong>14.&nbsp;Should we inform Biz Services for payments made to
                    seller?</strong></h3>
            <div class="aioseo-faq-block-answer">
                <p>Ans: Yes, you need to inform Biz Services before making payment to seller, we will share the tax
                    liability and advise next steps. Your cooperation will help us assist you better.</p>
            </div>
        </div>



        <div data-schema-only="false" class="set">
            <h3 class="aioseo-faq-block-question"><strong>15.&nbsp;When can we expect Form 16b certificate for our
                    payments to seller from Biz Services?</strong></h3>
            <div class="aioseo-faq-block-answer">
                <p>Ans: Within 7 working days from the date of TDS on purchase of property payment.</p>
            </div>
        </div>



        <div data-schema-only="false" class="set">
            <h3 class="aioseo-faq-block-question"><strong>16.&nbsp;How do I contact Biz Services for any
                    queries/clarification?</strong></h3>
            <div class="aioseo-faq-block-answer">
                <p>Ans: You can write an e-Mail to support&#64;bizservices.in mentioning your project name and unit
                    number in the e-Mail subject. You will receive a response within 1 or 2 working days.</p>
            </div>
        </div>



        <div data-schema-only="false" class="set">
            <h3 class="aioseo-faq-block-question"><strong>17.&nbsp;Will Biz Services take care of TDS on purchase of
                    property compliance for my previous payments to seller?</strong></h3>
            <div class="aioseo-faq-block-answer">
                <p>Ans: Yes, once you opt for our service, we will manage your compliance from your first payment till
                    your last payment to seller for the unit you have availed the service.</p>
            </div>
        </div>



        <div data-schema-only="false" class="set">
            <h3 class="aioseo-faq-block-question"><strong>18.&nbsp;Why is TDS value not matching with the 1% for the
                    payments made by me to the seller</strong>?</h3>
            <div class="aioseo-faq-block-answer">
                <p>Ans: Form 16B certificates will be sent to each owner’s e-Mail ID for every payment to seller, sum of
                    both the certificates will be the TDS amount paid.</p>



                <p>Please note TDS is not applicable on GST value, 1% should be calculated after deducting the GST
                    portion on your payments.</p>
            </div>
        </div>



        <div data-schema-only="false" class="set">
            <h3 class="aioseo-faq-block-question"><strong>19. I have opted for Biz Services for my current unit, but now
                    I am shifting to a different unit. How do I manage this?</strong></h3>
            <div class="aioseo-faq-block-answer">
                <p>Ans: Please write an e-Mail to support&#64;bizservices.in mentioning the project and unit details, we
                    will update our records and manage the TDS compliance for your new unit, you need not pay any
                    additional service fee in this regard.</p>
            </div>
        </div>



        <div data-schema-only="false" class="set">
            <h3 class="aioseo-faq-block-question"><strong>20.&nbsp;We are 2 owners, but one owner is contributing to
                    purchase the property, should both owners do TDS compliance?</strong></h3>
            <div class="aioseo-faq-block-answer">
                <p>Ans: TDS compliance must be done by all owners as each owner is considered as ‘Transferee/Payer’.</p>
            </div>
        </div>



        <div data-schema-only="false" class="set">
            <h3 class="aioseo-faq-block-question"><strong>21.&nbsp;I am filing my income tax returns, where should I
                    show the TDS?</strong></h3>
            <div class="aioseo-faq-block-answer">
                <p>Ans: You need not show TDS on property in your income tax returns as this is the credit for seller
                    and not for you, the TDS paid by Biz Services will reflect in 26AS section, but no action is
                    required from you.</p>
            </div>
        </div>



        <div data-schema-only="false" class="set">
            <h3 class="aioseo-faq-block-question"><strong>22.&nbsp;I have already made TDS on property payment and
                    submitted Form 16B to seller, how will Biz services manage this?</strong></h3>
            <div class="aioseo-faq-block-answer">
                <p>Ans: If the TDS credit is reflecting in the seller statement of account, Biz Services will consider
                    and pay the TDS for balance payments only as applicable to avoid excess TDS payment.</p>
            </div>
        </div>



        <div data-schema-only="false" class="set">
            <h3 class="aioseo-faq-block-question"><strong>23. I have remitted TDS on purchase of property for first
                    certain payments, but not submitted Form 16B to seller, how will Biz services manage this?</strong>
            </h3>
            <div class="aioseo-faq-block-answer">
                <p>Ans: Biz Services will generate Form 16B for the TDS already paid, for your subsequent payments TDS
                    will be paid as applicable considering the already paid TDS amount.</p>
            </div>
        </div>



        <div data-schema-only="false" class="set">
            <h3 class="aioseo-faq-block-question"><strong>24. I have deducted TDS on purchase of property while paying
                    to seller but not remitted, how to proceed on this?</strong></h3>
            <div class="aioseo-faq-block-answer">
                <p>Ans: Biz Services will assist you in making TDS payments for all your payments to seller.</p>
            </div>
        </div>



        <div data-schema-only="false" class="set">
            <h3 class="aioseo-faq-block-question"><strong>25.&nbsp;I am an NRI, is TDS compliance applicable to
                    me?</strong></h3>
            <div class="aioseo-faq-block-answer">
                <p>Ans: Yes, it is applicable to everyone buying a property in India from a resident of India, TDS
                    compliance under section 194IA is to be duly complied by all the buyers of property whose value is
                    more than Rs. 50 Lakhs.</p>
            </div>
        </div>



        <div data-schema-only="false" class="set">
            <h3 class="aioseo-faq-block-question"><strong><u>26. How to pay TDS on purchase of property?</u></strong>
            </h3>
            <div class="aioseo-faq-block-answer">
                <p><u><span style="text-decoration: underline;">You can pay TDS by filing the form 26QB online within 30
                            days of deduction, available in the income tax website, there are several details you must
                            furnish including PAN, category, names, addresses of buyers. There are several other steps
                            to pay TDS on purchase of property as described in the link below:</span><br><br><a
                            href="https://marathon.in/featured/how-to-pay-tds-for-property-purchase-online/">https://marathon.in/featured/how-to-pay-tds-for-property-purchase-online/</a><br><br>or</u><strong><u><br><br></u></strong>Just
                    opt for Biz Services to sit back and relax !</p>



                <p><a href="https://bizservices.in/begin-your-compliance-now/" data-type="page" data-id="1802">Click
                        here to Contact US and Begin your compliance</a></p>
            </div>
        </div>



        <div data-schema-only="false" class="set">
            <h3 class="aioseo-faq-block-question"><strong>28. What is section 194 IA of income tax act?</strong></h3>
            <div class="aioseo-faq-block-answer">
                <p>Ans: Section 194IA of the Income Tax Act mandates that a buyer of a property with a value that
                    exceeds Rs 50 Lakhs must pay TDS on Purchase of property of 1 % of the property value when settling
                    the amount to the seller.</p>
            </div>
        </div>



        <div data-schema-only="false" class="set">
            <h3 class="aioseo-faq-block-question"><strong>29. What is the TDS on purchase of property by an
                    NRI?</strong></h3>
            <div class="aioseo-faq-block-answer">
                <p>Ans: The rate of TDS on purchase of property by an NRI is the same as that of a non NRI. The standard
                    1 % of the property value as stated in Section 194IA of Income Tax Act.</p>
            </div>
        </div>



        <div data-schema-only="false" class="set">
            <h3 class="aioseo-faq-block-question"><strong>30. What is the TDS on sale of property online
                    payment?</strong></h3>
            <div class="aioseo-faq-block-answer">
                <p>Ans: The TDS on sale of property must be paid&nbsp;using Form 26QB within 30 days from the end of the
                    month paid by the buyer as per section 194IA of the Income tax act. After depositing TDS to the
                    government, the buyer is required to furnish the TDS certificate Form 16B to the seller. This is
                    available around 4-5 days after depositing the TDS for download in Traces website. The Form 16B
                    Certificate is mandatory for registration of property.</p>
            </div>
        </div>



        <div data-schema-only="false" class="set">
            <h3 class="aioseo-faq-block-question">31. <strong><u>What is TDS on sale of property 26QB?</u></strong></h3>
            <div class="aioseo-faq-block-answer">
                <p>Within 30 days after the end of the month in which the transaction occurred, Form 26QB must be filled
                    and the TDS on sale of property of 1 % has to be paid as per Section 194IA of the Income tax act,
                    Form 16B is generated in Traces website and submitted towards registration of property.</p>
            </div>
        </div>



        <div data-schema-only="false" class="set">
            <h3 class="aioseo-faq-block-question"><strong><u>32. What is 26QB TDS?</u></strong></h3>
            <div class="aioseo-faq-block-answer">
                <p>Form 26QB is&nbsp;a form filled by the&nbsp;purchasers to submit their Tax Deducted at Source (TDS)
                    &nbsp;for the transaction of a property purchase.</p>



                <p>The Due date of filing Form 26QB is&nbsp;within 30 days from the end of month in which the tax
                    deduction is made. For example, Mr. Ram has paid the amount to seller on any date in the month of
                    April 2024 for purchase of immovable property, he needs to fill form 26QB on or before 30th May 2024
                    and make the TDS payment.</p>
            </div>
        </div>



        <div data-schema-only="false" class="set">
            <h3 class="aioseo-faq-block-question"><strong><u>33. What is 194 IATDS rate?</u></strong></h3>
            <div class="aioseo-faq-block-answer">
                <p>The 194IA TDS rate is 1 % of the property total consideration value during sale.</p>
            </div>
        </div>



        <div data-schema-only="false" class="set">
            <h3 class="aioseo-faq-block-question"><strong><u>34. What is section 194ia of income tax act?</u></strong>
            </h3>
            <div class="aioseo-faq-block-answer">
                <p>Section 194IA of income tax act mandates that the buyer of an immovable property must pay a TDS on
                    purchase of property of 1 % while making the payment to the owner. . The TDS Tax is only applicable
                    for properties with &nbsp;total consideration value of over Rs 50 Lakhs.</p>
            </div>
        </div>



        <div data-schema-only="false" class="set">
            <h3 class="aioseo-faq-block-question">35. <strong><u>What is the online payment of TDS on sale of
                        property?</u></strong></h3>
            <div class="aioseo-faq-block-answer">
                <p>TDS on purchase of property or TDS on sale of property must be paid by the buyer of the property as
                    per section 194IA of income tax act. The TDS payable &nbsp;is 1 % of the total consideration value
                    by filling the Form 26QB. This payment must be made towards TDS during each payment to the owner of
                    the property. On Payment of the TDS on property, Form 16B is generated in Traces website and is
                    required to be submitted to the seller for registration.</p>
            </div>
        </div>
    </div>