<div class="fixed-top bg-white shadow">
  <header class=" justify-content-center py-3">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" routerLink="/" routerLinkActive="active" aria-current="page" [routerLinkActiveOptions]="{ exact: true }">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/payments-to-seller" routerLinkActive="active">PToS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/tds-compliance" routerLinkActive="active">TDS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/form-16B" routerLinkActive="active">Form</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
      </li>
    </ul>
  </header>
</div>
